
h1{
	font-size: 2.5em;
}
h2{
	font-size: 1.5em;
}
body{
	font-family: Helvetica;
	padding: 2em;
	background-color: whitesmoke;
}

.pop{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.backing1{
	background-color: #E55126;
}

.backing1{
	border-radius: 25px;
	width: 20em;
	padding: 1em 3em 2em 2em;
	margin: 0.5em;
	color:whitesmoke;
}

.innerText{
	font-size: 0.5em;
	font-family: Courier;
	
}